@import url('https://fonts.googleapis.com/css?family=Lato|Roboto+Slab');
body{
  background: #f3f3f3;
  height: 100%;
}

#header{
  position: fixed;
  background: #B39DDB;
  margin-top: 0;
  box-shadow:0 0 5px 0 rgba(0,0,0,0.16),0 0 10px 0 rgba(0,0,0,0.12)
}

#slider{
  margin-bottom: 60px;
}

@media screen and (max-width: 770px) {
  #header{
    background: #ffffff;
  }
}

#slider{
  margin-top: 10%;
  width: 100%;
}


#slider .item .container{
  width: 100%;
}

.card{
  box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

.col-sm-3{
  height: 200px;
}

.game-card{
  background: #00d1b2;
  text-align: center;
  margin: auto;
  padding-top: 20px;
  height: 180px;
}

.game-card h4{
  font-family: 'Roboto Slab', monospace;
}

.game-card a {
  color: #424242;
}

.games{
  text-align: center;
  margin: auto;
  width: 80%;
}

.games h2{
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  text-align: center;
  font-weight: 400;
}
