
// Body
$body-bg: hsl(217, 71%, 53%); // $blue from bulma

// Colors
$material-grey: #BDBDBD;
$insane-blue: #3BB2D0;


// Typography
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 14px;
$line-height-base: 1.6;
$text-color: #636b6f;

// Fonts
$font-roboto:'Roboto', sans-serif;
$font-open-sans:'Open Sans', sans-serif;
$font-pirulen: 'Pirulen', sans-serif;
