
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600|Roboto|Lato|Open-Sans");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

// Font-Awesome
@import "~font-awesome/scss/font-awesome.scss";

// Pirulen font
@font-face {
  font-family: 'Pirulen';
  src: url(/fonts/vendor/pirulen/pirulen-rg.ttf) format('truetype');
}


// Base rules
html{
	font-size: 62.5%;
}

body{
	margin: 0;
	padding: 0;
	font-family: $font-roboto;
	width: 100vw;
	height: 100vh;
	background: #222;
}


// Preloader code starts
@mixin centre($axis: "both") {
	position: absolute;
	@if $axis == "y" {
		top: 50%;
		-webkit-transform: translateY(-50%);
		-moz-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		-o-transform: translateY(-50%);
		transform: translateY(-50%);
	}
	@if $axis == "x" {
		left: 50%;
		-webkit-transform: translateX(-50%);
		-moz-transform: translateX(-50%);
		-ms-transform: translateX(-50%);
		-o-transform: translateX(-50%);
		transform: translateX(-50%);
	}
	@if $axis == "both" {
		top: 50%;
		left: 50%;
		-webkit-transform: translate(-51%, -50%);
		-moz-transform: translate(-51%, -50%);
		-ms-transform: translate(-51%, -50%);
		-o-transform: translate(-51%, -50%);
		transform: translate(-51%, -50%);
	}
}
@mixin font-size($sizeValue: 1.6, $lineHeight: 2.4) {
  font-size: ($sizeValue * 10) + px;
  font-size: $sizeValue + rem;
  line-height: ($lineHeight * 10) + px;
}
@mixin animation($animate...) {
    $max: length($animate);
    $animations: '';

    @for $i from 1 through $max {
        $animations: #{$animations + nth($animate, $i)};

        @if $i < $max {
            $animations: #{$animations + ", "};
        }
    }
    -webkit-animation: $animations;
    -moz-animation:    $animations;
    -o-animation:      $animations;
    animation:         $animations;
}
@mixin keyframes($animationName) {
    @-webkit-keyframes #{$animationName} {
        @content;
    }
    @-moz-keyframes #{$animationName} {
        @content;
    }
    @-o-keyframes #{$animationName} {
        @content;
    }
    @keyframes #{$animationName} {
        @content;
    }
}

@include keyframes(outerRotate1) {
  0%   {transform: translate(-50%, -50%) rotate(0)}
  100% {transform: translate(-50%, -50%) rotate(360deg)}
}
@include keyframes(outerRotate2) {
  0%   {transform: translate(-50%, -50%) rotate(0)}
  100% {transform: translate(-50%, -50%) rotate(-360deg)}
}

@include keyframes(textColour) {
  0%   {color: #fff;}
  100% {color: #3BB2D0;}
}

.e-loadholder{
	@include centre();
	width: 240px;
	height: 240px;
	border: 5px solid #1B5F70;
	border-radius: 120px;
	box-sizing: border-box;


	&:after{
		@include centre;
		content: " ";
		display: block;
		background: #222;
		transform-origin: center;
		z-index: 0;
	}

	&:after{
		width: 100px;
		height: 200%;
		@include animation('outerRotate2 30s infinite linear');
	}

	.m-loader{
		@include centre();
		width: 200px;
		height: 200px;
		color: #888;
		text-align: center;
		border: 5px solid lighten(#1B5F70, 15%);
		border-radius: 100px;
		box-sizing: border-box;
		z-index: 20;
		text-transform: uppercase;

		&:after{
			@include centre;
			content: " ";
			display: block;
			background: #222;
			transform-origin: center;
			z-index: -1;
		}

		&:after{
			width: 100px;
			height: 106%;
			@include animation('outerRotate1 15s infinite linear');
		}

		.e-text{
			@include font-size(1.4, 13);
			@include centre();
			@include animation('textColour 1s alternate linear infinite');
			display: block;
			width: 140px;
			height: 140px;
			text-align: center;
			border: 5px solid lighten(#1B5F70, 25%);
			border-radius: 70px;
			box-sizing: border-box;
			z-index: 20;

			&:before, &:after{
				@include centre;
				content: " ";
				display: block;
				background: #222;
				transform-origin: center;
				z-index: -1;
			}

			&:before{
				width: 110%;
				height: 40px;
				@include animation('outerRotate2 3.5s infinite linear');
			}
			&:after{
				width: 40px;
				height: 110%;
				@include animation('outerRotate1 8s infinite linear');
			}
		}
	}
}

// Preloader code ends

// Selection classes
.select-disable {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.select-enable {
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -o-user-select: text;
    user-select: text;
}

.crap-shadow{
  box-shadow:
        inset 0 0 50px #fff,      /* inner white */
        inset 20px 0 80px #f0f,   /* inner left magenta short */
        inset -20px 0 80px #0ff,  /* inner right cyan short */
        inset 20px 0 300px #f0f,  /* inner left magenta broad */
        inset -20px 0 300px #0ff, /* inner right cyan broad */
        0 0 50px #fff,            /* outer white */
        -10px 0 80px #f0f,        /* outer left magenta */
        10px 0 80px #0ff;         /* outer right cyan */
}

#particle-canvas {
  display: block;
  // background: rgb(33,36,50);
  // background: #222;
  background: rgb(41, 50, 66);
  z-index: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  opacity: 0.3;
}


#base-hero{
  opacity: 1;
  display: none;
  text-align: center;
  z-index: 1;
  width: 100%;
  height: 100%;
}

#base-hero img{
  width: 350px;
  height: 280px;
  margin-top: 15%;
  overflow: auto;
  // border: 1px solid green;
  @media screen and (max-width: $screen-sm){
    width: 250px;
    height: 180px;
    margin-top: 40%;
  }
}

#base-hero nav{
  width: 100%;
  top: 0;
  position: fixed;
}

#base-hero nav #wave{
  transform: rotate(90deg);
  top: 1.5%;
  left: 1%;
  fill: #fff;
  position: absolute;
  width: 50px;
  height: 50px;
}

// Circular Menu - SASS

#radial-menu{
  display: none;
}
